body{
    background-color: MistyRose;
}

p{
    font-size: 200%;
    color: HotPink;
}

img{
	width: 20%;
	display: none;
}

.bright{
	color: white;
	background-color: Pink;
}

.border{
	border: 25px solid black;
}
h1 {
	color: HotPink;
}
